*{
    margin: 0 0 0 0;
}
body {
    font-family: 'Lato', sans-serif;
}
nav {
    display: flex;
    text-decoration: none;
    padding: 2px 2px 2px;
}
nav a {
    display: flex;
    text-decoration: none;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    margin-right: 10px;
}
header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
}
.header-section {
    padding: 10px 0px 0px 100px;

}
.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    max-width: 700px;
    margin-top: 100px;
}
.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    max-width: 580px;
    margin: 32px 0 32px;
}
.button {
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-weight: 600;
    padding: 20px 43px;
    border: 0;
}

.header-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding: 50px 0px 0px 0;
}
/* Header Section End */


.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}
.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    padding: 0 500px;
}
.featured-img {
    margin: 48px 240px 0;
    display: flex;
    justify-content: space-around;
    margin: 48 240px 0;
}
.tulip {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0;
    margin-right:24px ;
}
.baquat {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
    margin-right: 24px;
}
.yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0;
}
.img-name {
    text-decoration: underline;
    font-weight: 600;
    margin: 32px 240px 0;
    display: flex;
    justify-content: space-between;
    
}
/* Featured Section End */


.margin {
    margin: 128px 70px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-container {
    display: flex;
    justify-content: space-between;
    padding: 86px 232px 87px;
    text-align: center;
}

.service-title {
    margin-top: 24px;
}
/* Services Section End */

.hot-deal-container {
    margin-top: 128px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
}
.hot-deal {
    text-align: center;
    padding: 230px 0 0 223px;
}

.hot-deal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-description {
    max-width: 500px;
    margin: 24px 0 32px;
}
.hot-deal-img {
    width: 318px;
    height: 420px;
    padding: 100px 229px 100px 0;
}
.off {
    color: #E55473;
}

/* Hot Deal Section End */

.insta-img {
    display: flex;
    margin: 48px 240px 0;
    justify-content: center;
    gap: 24px;
}


.deals-container {
    margin: 128px 70px;
    border-radius: 8px;
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    text-align: center;
}
.deals-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 112px;
}
.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 48px;
    padding: 0 500px;
}
section input{
    border-radius: 8px;
    background: #FFF;
    padding: 20px 510px 20px 20px;
    margin-bottom: 121px;
    margin-right: 10px;
    border: none;
}


footer {
    background: #111010;
}
.footer-title {
    padding-top: 128px;
    padding-bottom: 24px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}
.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0 500px 40px;
    column-gap: 32px;
}
.flower {
    color: #E55473;
}